*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#f7f4ef;
    font-family:Poppins,sans-serif;
    color:#3f2f25;
}

a{
    text-decoration:none;
    color:inherit;
}

button{
    cursor:pointer;
}

img{
    width:100%;
    display:block;
}